@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: #253528;
    --color-secondary: #49654e;
    --color-tertiary: #8ba889;
    --color-quaternary: #ffffff;
    --color-quinquenary: #e4e6d9;
    --font-poppins: "Poppins", sans-serif;
}

/*definições dos elementos de página*/
@layer components {
    .input {
        @apply bg-slate-50
        text-tertiary
            w-full
            h-12
            px-5 py-3
            rounded-md
            outline-none

            ring-0 ring-transparent
            hover:ring-1 hover:ring-quinquenary
            focus:ring-2 focus:ring-quinquenary

            transition-all duration-300 ease-in-out;
    }
}

/*definições da fonte "stardew-valley"*/

@font-face {
    font-family: "stardew-valley";
    src: url("/fonts/stardew-valley.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "stardew-valley";
    src: url("/fonts/svbold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*definições da fonte "torus"*/

@font-face {
    font-family: "torus";
    src: url("/fonts/torus/Torus-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "torus";
    src: url("/fonts/torus/Torus-Heavy.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "torus";
    src: url("/fonts/torus/Torus-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "torus";
    src: url("/fonts/torus/Torus-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "torus";
    src: url("/fonts/torus/Torus-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "torus";
    src: url("/fonts/torus/Torus-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
