
name: Testes Automatizados (Pytest)

#roda só em PR
on:
  pull_request:
    branches: [ "main" ]


jobs:
  run_tests:

    runs-on: ubuntu-latest
    
    steps:
    

    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        
    #dependências do projeto
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Instala as dependências listadas no seu requirements.txt
        pip install -r requirements.txt
        # Instala o Pytest
        pip install pytest

    # Executa
    - name: Execute Pytest
      run: pytest src/tests